@keyframes ldio-4h7fh9ruee8 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.91,0.91);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-4h7fh9ruee8 div > div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0b1d27;
  animation: ldio-4h7fh9ruee8 1.075268817204301s linear infinite;
}.ldio-4h7fh9ruee8 div:nth-child(1) > div {
  left: 76px;
  top: 43px;
  animation-delay: -0.9925558312655087s;
}
.ldio-4h7fh9ruee8 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 83px 50px;
}.ldio-4h7fh9ruee8 div:nth-child(2) > div {
  left: 72px;
  top: 58px;
  animation-delay: -0.9098428453267163s;
}
.ldio-4h7fh9ruee8 > div:nth-child(2) {
  transform: rotate(27.692307692307693deg);
  transform-origin: 79px 65px;
}.ldio-4h7fh9ruee8 div:nth-child(3) > div {
  left: 62px;
  top: 70px;
  animation-delay: -0.8271298593879239s;
}
.ldio-4h7fh9ruee8 > div:nth-child(3) {
  transform: rotate(55.38461538461539deg);
  transform-origin: 69px 77px;
}.ldio-4h7fh9ruee8 div:nth-child(4) > div {
  left: 47px;
  top: 76px;
  animation-delay: -0.7444168734491315s;
}
.ldio-4h7fh9ruee8 > div:nth-child(4) {
  transform: rotate(83.07692307692308deg);
  transform-origin: 54px 83px;
}.ldio-4h7fh9ruee8 div:nth-child(5) > div {
  left: 31px;
  top: 74px;
  animation-delay: -0.6617038875103392s;
}
.ldio-4h7fh9ruee8 > div:nth-child(5) {
  transform: rotate(110.76923076923077deg);
  transform-origin: 38px 81px;
}.ldio-4h7fh9ruee8 div:nth-child(6) > div {
  left: 18px;
  top: 65px;
  animation-delay: -0.5789909015715468s;
}
.ldio-4h7fh9ruee8 > div:nth-child(6) {
  transform: rotate(138.46153846153845deg);
  transform-origin: 25px 72px;
}.ldio-4h7fh9ruee8 div:nth-child(7) > div {
  left: 11px;
  top: 51px;
  animation-delay: -0.49627791563275436s;
}
.ldio-4h7fh9ruee8 > div:nth-child(7) {
  transform: rotate(166.15384615384616deg);
  transform-origin: 18px 58px;
}.ldio-4h7fh9ruee8 div:nth-child(8) > div {
  left: 11px;
  top: 35px;
  animation-delay: -0.41356492969396197s;
}
.ldio-4h7fh9ruee8 > div:nth-child(8) {
  transform: rotate(193.84615384615384deg);
  transform-origin: 18px 42px;
}.ldio-4h7fh9ruee8 div:nth-child(9) > div {
  left: 18px;
  top: 21px;
  animation-delay: -0.3308519437551696s;
}
.ldio-4h7fh9ruee8 > div:nth-child(9) {
  transform: rotate(221.53846153846155deg);
  transform-origin: 25px 28px;
}.ldio-4h7fh9ruee8 div:nth-child(10) > div {
  left: 31px;
  top: 12px;
  animation-delay: -0.24813895781637718s;
}
.ldio-4h7fh9ruee8 > div:nth-child(10) {
  transform: rotate(249.23076923076923deg);
  transform-origin: 38px 19px;
}.ldio-4h7fh9ruee8 div:nth-child(11) > div {
  left: 47px;
  top: 10px;
  animation-delay: -0.1654259718775848s;
}
.ldio-4h7fh9ruee8 > div:nth-child(11) {
  transform: rotate(276.9230769230769deg);
  transform-origin: 54px 17px;
}.ldio-4h7fh9ruee8 div:nth-child(12) > div {
  left: 62px;
  top: 16px;
  animation-delay: -0.0827129859387924s;
}
.ldio-4h7fh9ruee8 > div:nth-child(12) {
  transform: rotate(304.61538461538464deg);
  transform-origin: 69px 23px;
}.ldio-4h7fh9ruee8 div:nth-child(13) > div {
  left: 72px;
  top: 28px;
  animation-delay: 0s;
}
.ldio-4h7fh9ruee8 > div:nth-child(13) {
  transform: rotate(332.3076923076923deg);
  transform-origin: 79px 35px;
}
.loadingio-spinner-spin-0ne1ne1sygp {
  width: 98px;
  height: 98px;
  display: block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
  margin: 0 auto;
}
.ldio-4h7fh9ruee8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4h7fh9ruee8 div { 
  box-sizing: content-box; 
}

/* generated by https://loading.io/ */